@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   display: grid;
   text-align: center;
}
.bg-container {
  background-color: #77b624;
  height: 0vh;
  width: 143vh;
}
 
.guess-game-img {
  width: 50%;
}
 
.game-description {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #323f4b;
  margin-top: 20px;
  margin-bottom: 30px;
}
 
.guess-bg-container {
  background-color: #246db6;
  padding-bottom: 75px;
  padding-top: 96px;
}
 
.guess-heading {
  font-family: "Roboto";
  font-weight: bold;
  color: white;
  font-size: 34px;
}
 
.guess-number-image {
  width: 50px;
}
 
.user-input {
  width: 300px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 30px;
  color: #1f2933;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
 
.game-result {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
  padding: 10px;
}
 
.check-guess {
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  width: 170px;
}